@charset "ISO-8859-1";
html,body {
    padding: 0;
    margin: 0;
    font: 14px 'Open sans', sans-serif;
    color: #333;
    background-color: #F5F5DC ;
}
h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
}
form {
    padding: 40px;
    background: #DDD;
    border: 4px solid #AAA;
    width: 360px;
    margin: 30px auto;
}

#form {
    padding: 40px;
    background: #DDD;
    border: 4px solid #AAA;
    width: 360px;
    margin: 30px auto;
}

input {
    font: 14px 'Open Sans', sans-serif;
    border: 2px solid #ccc;
    padding: 6px;
    display: block;
    margin-bottom: 10px;
    width: 96%;
}
button {
    display: block;
    margin: 0 auto;
    width: 200px;
    font: 14px 'Open Sans', sans-serif;
    background-color: #4285f4;
    color: white;
    padding: 6px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
}

button:hover {
    display: block;
    margin: 0 auto;
    width: 200px;
    font: 14px 'Open Sans', sans-serif;
    background-color: #4285f4;
    color: white;
    padding: 6px;
    cursor: pointer;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
    text-decoration: underline;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td:first-child {
    font-weight: bold;
    border: 1px solid red;
}

table {
    border: 1px solid black;
}